<!--<div *ngIf="errorMessage">
    <div class="alert alert-danger">{{errorMessage}}</div>
</div>-->

<div *ngFor="let errors of errorMessage">
    <div *ngIf="errors.text != ''" class="alert alert-danger">{{errors.text }}</div>
</div>

<form (ngSubmit)="onSubmit()" #signupForm="ngForm" >
    <div class="row">
        <div class="col-xs-12">
            <input type="text" placeholder="Username" required [(ngModel)]="model.username" name="username" #name="ngModel"/>
        </div>
        <div class="col-xs-12">
            <input type="email" placeholder="Email Address" required [(ngModel)]="model.email" name="email" #name="ngModel" />
        </div>
        <div class="col-xs-12">
            <input type="password" placeholder="Password" required [(ngModel)]="model.plainPassword1" name="plainPassword1" #name="ngModel" />
        </div>
        <div class="col-xs-12">
            <input type="password"  placeholder="Confirm Password" required [(ngModel)]="model.plainPassword2" name="plainPassword2" #name="ngModel" />
        </div>
        <div class="col-xs-12">
                                                            <span class="type--fine-print">By signing up, you agree to the
                                                                <a href="#">Terms of Service</a>
                                                            </span>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn--primary" [disabled]="!signupForm.form.valid">Create Account</button>
        </div>

    </div>
    <!--end row-->
</form>