<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <h2>Create a Wefaves account</h2>
                    <span>Already have an account?
                        <a routerLink="/login">Log In</a>
                    </span>
                    <hr class="short">
                    <signup-form></signup-form>
                </div>
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </section>