  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Hi there, I'm
            <span class="color--primary">Wefaves.</span>
            <br class="hidden-xs hidden-sm" /> Smart, simple and secure.</h1>
          <a class="btn btn--primary btn--lg type--uppercase" href="#">
                                <span class="btn__text">
                                    Get Started FREE
                                </span>
          </a>
          <span class="block type--fine-print">
                                Or request a FREE
                                <a href="#">product demonstration</a>
                            </span>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <div class="bg--dark box-shadow-wide">
            <img alt="Image" src="assets/img/software-1.jpg" />
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section class="switchable bg--secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 mt--2">
          <ul class="accordion accordion-2 accordion--oneopen">
            <li class="active">
              <div class="accordion__title">
                <span class="h5">Code Quality</span>
              </div>
              <div class="accordion__content">
                <p class="lead">
                  Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike.
                </p>
              </div>
            </li>
            <li>
              <div class="accordion__title">
                <span class="h5">Visual Design</span>
              </div>
              <div class="accordion__content">
                <p class="lead">
                  Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                </p>
                <p class="lead">
                  Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                </p>
              </div>
            </li>
            <li>
              <div class="accordion__title">
                <span class="h5">Stack Experience</span>
              </div>
              <div class="accordion__content">
                <p class="lead">
                  Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                </p>
              </div>
            </li>
          </ul>
          <!--end accordion-->
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="slider box-shadow-wide border--round" data-paging="true">
            <ul class="slides">
              <li>
                <img alt="img" src="assets/img/software-2.jpg" />
              </li>
              <li>
                <img alt="img" src="assets/img/software-3.jpg" />
              </li>
              <li>
                <img alt="img" src="assets/img/software-4.jpg" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="bg--secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="feature">
            <i class="icon icon-Sidebar-Window color--primary"></i>
            <h4>Interactive Elements</h4>
            <p>
              With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature">
            <i class="icon icon-Duplicate-Window color--primary"></i>
            <h4>Save Development Time</h4>
            <p>
              Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it!
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature">
            <i class="icon icon-Code-Window color--primary"></i>
            <h4>Friendly Support</h4>
            <p>
              Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient.
            </p>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section class="switchable space--md">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5">
          <span class="h1">Ideal for design conscious startups.</span>
          <p class="lead">Start building a beautiful site for your startup &mdash;
            <br class="hidden-xs hidden-sm" /> right in the comfort of your browser.</p>
          <hr class="short">
          <form>
            <div class="row">
              <div class="col-xs-12">
                <input type="email" name="Email Address" placeholder="Email Address" />
              </div>
              <div class="col-xs-12">
                <input type="password" name="Password" placeholder="Password" />
              </div>
              <div class="col-xs-12">
                <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
              </div>
              <div class="col-xs-12">
                                        <span class="type--fine-print">By signing up, you agree to the
                                            <a href="#">Terms of Service</a>
                                        </span>
              </div>
            </div>
            <!--end row-->
          </form>
        </div>
        <div class="col-sm-6 col-md-5">
          <img alt="Image" class="border--round box-shadow-wide" src="assets/img/software-5.jpg" />
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
