<section class="height-60 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-7 col-md-5">
                <h2>Recover your account</h2>
                <p class="lead">
                    Enter email address to send a recovery email.
                </p>
                <form>
                    <input type="email" placeholder="Email Address" />
                    <button class="btn btn--primary type--uppercase" type="submit">Recover Account</button>
                </form>
                <span class="type--fine-print block">Dont have an account yet?
                                <a routerLink="/signup">Create account</a>
                            </span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>