  <section class="text-center" >

    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-5">
          <h2>Login to continue</h2>
          <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                <span class="btn__text">
                                    <i class="socicon-facebook"></i>
                                    Login with Facebook
                                </span>
          </a>
          <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                <span class="btn__text">
                                    <i class="socicon-twitter"></i>
                                    Login with Twitter
                                </span>
          </a>
          <hr>
          <p>Login using your Wefaves account</p>

            <login-form></login-form>

          <span class="type--fine-print block">Dont have an account yet?
                                <a routerLink="/signup">Create account</a>
                            </span>
          <span class="type--fine-print block">Forgot your username or password?
                                <a routerLink="/account/recover">Recover account</a>
                            </span>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
